<div class="container-fluid nav">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a routerLink="/home" class="btn btn-ghost normal-case text-xl" id="logo">Logo</a>
        </div>
        
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li  routerLink="/login"><a class="log">Login</a></li>
                <li routerLink="/register"><a >Register</a></li>
                <!-- <li routerLink="/register"><a >Excellent Mashengete</a></li> -->
                <li routerLink="/register"><a >Logout</a></li>
            </ul>
        </div>
    </div>
</div>